@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for safe area insets */
.p-safe {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
